body {
    font-family: 'Alatsi', sans-serif;
}

li {
    cursor:pointer;
}
div {
    background-color: thistle;
}

.formularios {
    margin-top: 3%;
    text-align: center;
}

.btn-crsr {
    cursor: pointer;
}